.board_card{
    border: 1px solid black;
    width:90vw;
    border-radius: 3px;
    margin:10px 0 10px 5vw;
}
.mainHeader{
    text-align: right;
}
.write-btn{
    position: sticky;
    bottom: 1vh;
    text-align: right;
}
.write-btn button{
    margin-right: 10px;
}
